@charset "UTF-8";

/* qB 단답형 공통 css*/
#math_msh1_mq1_8.question_wrapper section input[type="text"],
#math_msh1_dq1_11.question_wrapper section input[type="text"],
#math_msh1_dq1_12.question_wrapper section input[type="text"],
#math_msh1_mq1_25.question_wrapper section input[type="text"],
#math_msh1_dq1_35.question_wrapper section input[type="text"],
#math_msh1_mq3_1.question_wrapper section input[type="text"] {position:absolute;top:0;width:100px;height:42px;}

/* qD 선택형 공통 css */
#math_msh1_mq1_13.question_wrapper section .designSelect,
#math_msh1_mq1_14.question_wrapper section .designSelect,
#math_msh1_dq1_15.question_wrapper section .designSelect,
#math_msh1_dq1_17.question_wrapper section .designSelect {position:absolute;top:0;}





/* 문항별 스타일 */
#math_msh1_mq1_8.question_wrapper section .qa {left:40px;}
#math_msh1_mq1_8.question_wrapper section .qa:nth-of-type(2) {left:230px;}
#math_msh1_mq1_8.question_wrapper section .qa:nth-of-type(3) {left:400px;}

#math_msh1_dq1_11.question_wrapper section .qa {left:34px;}
#math_msh1_dq1_11.question_wrapper section .qa:nth-of-type(2) {left:250px;}

#math_msh1_dq1_12.question_wrapper section .qa {left:26px;}
#math_msh1_dq1_12.question_wrapper section .qa:nth-of-type(2) {left:163px;}
#math_msh1_dq1_12.question_wrapper section .qa:nth-of-type(3) {left:320px;}
#math_msh1_dq1_12.question_wrapper section .qa:nth-of-type(4) {left:460px;}

#math_msh1_dq1_23.question_wrapper section .a_wrap {gap:10px;}

#math_msh1_mq1_25.question_wrapper section input[type="text"] {top:-10px}
#math_msh1_mq1_25.question_wrapper section .qa {left:175px;}
#math_msh1_mq1_25.question_wrapper section .qa:nth-of-type(2) {left:175px; top:52px !important}
#math_msh1_mq1_25.question_wrapper section .qa:nth-of-type(3) {left:330px;}
#math_msh1_mq1_25.question_wrapper section .qa:nth-of-type(4) {left:330px; top:52px !important}

#math_msh1_dq1_35.question_wrapper section input[type="text"] {top:-10px}
#math_msh1_dq1_35.question_wrapper section .qa {left:88px;}
#math_msh1_dq1_35.question_wrapper section .qa:nth-of-type(2) {left:88px; top:44px !important}
#math_msh1_dq1_35.question_wrapper section .qa:nth-of-type(3) {left:335px;}
#math_msh1_dq1_35.question_wrapper section .qa:nth-of-type(4) {left:335px; top:44px !important}

#math_msh1_mq3_1.question_wrapper section .q_wrap .imgwrap {flex-wrap:wrap;}
#math_msh1_mq3_1.question_wrapper section .q_wrap .imgwrap > img {margin-left: 45px;mix-blend-mode: initial;}
#math_msh1_mq3_1.question_wrapper section .q_wrap .imgwrap .designRadio {padding:0 20px 20px 51px;gap:26px;}
#math_msh1_mq3_1.question_wrapper section .q_wrap .imgwrap .designRadio > li::before {display:none;}
#math_msh1_mq3_1.question_wrapper section input[type="text"] {top:106px}
#math_msh1_mq3_1.question_wrapper section .qa {left:314px;}
#math_msh1_mq3_1.question_wrapper section .qa:nth-of-type(2) {left:419px;}
#math_msh1_mq3_1.question_wrapper section .qa:nth-of-type(3) {left:526px;}

#math_msh1_dq3_3.question_wrapper section .a_wrap {gap:10px;}

#math_msh1_dq3_4.question_wrapper section .q_wrap .imgwrap > img {mix-blend-mode: initial;}

#math_msh1_mq1_13.question_wrapper section .designSelect {width:120px;}
#math_msh1_mq1_13.question_wrapper section .designSelect.qa {left:162px;top:18px;}
#math_msh1_mq1_13.question_wrapper section .designSelect.qa:nth-of-type(2) {left:314px;top:58px;}
#math_msh1_mq1_13.question_wrapper section .designSelect.qa:nth-of-type(3) {left:314px;top:-14px;}

#math_msh1_mq1_14.question_wrapper section .designSelect {width:120px;}
#math_msh1_mq1_14.question_wrapper section .designSelect.qa {left:175px;top:18px;}
#math_msh1_mq1_14.question_wrapper section .designSelect.qa:nth-of-type(2) {left:314px;top:58px;}
#math_msh1_mq1_14.question_wrapper section .designSelect.qa:nth-of-type(3) {left:314px;top:-14px;}

#math_msh1_dq1_15.question_wrapper section .designSelect {width:120px;}
#math_msh1_dq1_15.question_wrapper section .designSelect.qa {left:162px;top:18px;}
#math_msh1_dq1_15.question_wrapper section .designSelect.qa:nth-of-type(2) {left:314px;top:58px;}
#math_msh1_dq1_15.question_wrapper section .designSelect.qa:nth-of-type(3) {left:314px;top:-14px;}

#math_msh1_dq1_17.question_wrapper section .designSelect {width:120px;}
#math_msh1_dq1_17.question_wrapper section .designSelect.qa {left:162px;top:18px;}
#math_msh1_dq1_17.question_wrapper section .designSelect.qa:nth-of-type(2) {left:314px;top:58px;}
#math_msh1_dq1_17.question_wrapper section .designSelect.qa:nth-of-type(3) {left:314px;top:-14px;}

#math_msh1_mq4_1.question_wrapper section .a_wrap {gap:16px;}
#math_msh1_mq4_1.question_wrapper section .a_wrap .imgwrap > span {width:100px;}

#math_msh1_dq4_6.question_wrapper input[type="text"],
#math_msh1_dq4_10.question_wrapper input[type="text"]  {width:120px;}

#math_msh1_dq4_5.question_wrapper section .q_wrap .imgwrap .shape_sq {position:relative;top:12px;width:80px;height:38px;}
#math_msh1_dq4_5.question_wrapper section .wrap {gap:20px;}

#math_msh1_dq4_3.question_wrapper section .wrap {gap:32px}

#math_msh1_dq4_9.question_wrapper section .q_wrap .imgwrap {flex-direction:column;}
#math_msh1_dq4_9.question_wrapper section .q_wrap .imgwrap > div {display:flex;gap:235px;}
#math_msh1_dq4_9.question_wrapper section .q_wrap .imgwrap > div .shape_sq {position: relative;width:120px;height:42px;}
#math_msh1_dq4_9.question_wrapper section .a_wrap {row-gap:22px;}
#math_msh1_dq4_9 .designBox li em {padding:6px 12px 8px;}

#math_msh1_dq4_11.question_wrapper section .q_wrap {gap:22px;}
#math_msh1_dq4_11.question_wrapper section .q_wrap .imgwrap {min-width:470px;}
#math_msh1_dq4_11.question_wrapper section .q_wrap .imgwrap .shape_sq {position:relative;width: 100px;height: 40px;}

#math_msh1_dq4_12.question_wrapper section .q_wrap .imgwrap {flex-direction:column;}
#math_msh1_dq4_12.question_wrapper section .q_wrap .imgwrap > div {display:flex;gap:180px;}
#math_msh1_dq4_12.question_wrapper section .q_wrap .imgwrap > div .shape_sq {position: relative;width:120px;height:42px;}
#math_msh1_dq4_12.question_wrapper section .a_wrap {row-gap:22px;}
#math_msh1_dq4_12 .designBox li em {padding:6px 12px 8px;}

#math_msh1_dq4_13.question_wrapper section .q_wrap .imgwrap {flex-direction:column;}
#math_msh1_dq4_13.question_wrapper section .q_wrap .imgwrap > div .shape_sq {width:120px;height:42px;top: 30px;left: 100px;}
#math_msh1_dq4_13.question_wrapper section .a_wrap {row-gap:22px;}
#math_msh1_dq4_13 .designBox li em {padding:6px 12px 8px;}

#math_msh1_mq3_2.question_wrapper section img {mix-blend-mode:inherit;}
#math_msh1_mq3_2.question_wrapper section .q_wrap .imgwrap .shape_sq {width:74px;height:38px;top:75px;left:108px;padding-top:8px;}
#math_msh1_mq3_2.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(1) {top:130px;}
#math_msh1_mq3_2.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(3) {left:215px;top:100px;}
#math_msh1_mq3_2.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(4) {top:130px;left:467px;}
#math_msh1_mq3_2.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(5) {left:467px;}
#math_msh1_mq3_2.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(6) {top:100px;left:576px;}
#math_msh1_mq3_2.question_wrapper section .wrap {row-gap:32px;}

#math_msh1_dq3_6.question_wrapper section .q_wrap .imgwrap .shape_sq {width:80px;height:38px;top:50px;left:118px;padding-top:8px;}
#math_msh1_dq3_6.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(2) {left:245px;}
#math_msh1_dq3_6.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(3) {top:108px;left:70px;}

#math_msh1_dq1_21.question_wrapper section .q_wrap ul {display:flex;flex-direction:row;justify-content:center;width:100%;gap:30px;}
#math_msh1_dq1_21.question_wrapper section .q_wrap ul li {position:relative;display:flex;flex-direction:column;gap:20px;align-items:center;width:33.3%;text-align:center;line-height:1.4}
#math_msh1_dq1_21.question_wrapper section .q_wrap ul li:nth-child(2)::after {position:absolute;content:'';display:block;width:30px;height:30px;top:130px;right:-53px;mix-blend-mode:darken;background: url('/images/question/math_msh1_dq1_21_q_after.png');}
#math_msh1_dq1_21.question_wrapper section .q_wrap ul li:last-child {margin-left:50px;}
#math_msh1_dq1_21.question_wrapper section .q_wrap ul li .shape_sq{position:relative;width:100%;min-height:200px;height:calc(100% - 112px);border-style:dashed;border-color:var(--c_gray40);background:#fff}
#math_msh1_dq1_21.question_wrapper section .a_wrap{gap:4px;}
#math_msh1_dq1_21 .designBox li em{min-width:50px;height:50px;}

#math_msh1_dq1_22.question_wrapper section .q_wrap ul {display:flex;flex-direction:row;justify-content:center;width:100%;gap:30px;}
#math_msh1_dq1_22.question_wrapper section .q_wrap ul li {position:relative;display:flex;flex-direction:column;gap:20px;align-items:center;width:33.3%;text-align:center;line-height:1.4}
#math_msh1_dq1_22.question_wrapper section .q_wrap ul li:nth-child(1)::after {position:absolute;content:'';display:block;width:30px;height:30px;top:130px;right:-53px;mix-blend-mode:darken;background: url('/images/question/math_msh1_dq1_21_q_after.png');}
#math_msh1_dq1_22.question_wrapper section .q_wrap ul li:last-child {margin-left:50px;}
#math_msh1_dq1_22.question_wrapper section .q_wrap ul li .shape_sq{position:relative;width:100%;min-height:200px;height:calc(100% - 112px);border-style:dashed;border-color:var(--c_gray40);background:#fff}
#math_msh1_dq1_22.question_wrapper section .a_wrap{gap:4px;}
#math_msh1_dq1_22 .designBox li em{min-width:50px;height:50px;}

#math_msh1_dq1_27.question_wrapper section .q_wrap .imgwrap .shape_sq {width:100px;height:42px;top:-5px;left:88px;}
#math_msh1_dq1_27.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(1) {top:52px;}
#math_msh1_dq1_27.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(3) {left:360px;top:52px;}
#math_msh1_dq1_27.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(4) {left:360px;}

#math_msh1_dq1_28.question_wrapper section .q_wrap .imgwrap .shape_sq {width:60px;height:42px;top:-8px;left:70px;}
#math_msh1_dq1_28.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(1) {top:52px;}
#math_msh1_dq1_28.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(2) {left:174px}
#math_msh1_dq1_28.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(3) {left:268px;top:52px;}
#math_msh1_dq1_28.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(4) {left:461px;}
#math_msh1_dq1_28.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(5) {left:555px;top:52px;}

#math_msh1_mq1_31.question_wrapper section .q_wrap .imgwrap .shape_sq {width:100px;height:42px;top:10px;left:140px;padding-top:10px;text-align:center;}
#math_msh1_mq1_31.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(1) {}
#math_msh1_mq1_31.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(2) {left:430px;}
#math_msh1_mq1_31.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(3) {top:104px;left:122px;}
#math_msh1_mq1_31.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(4) {top:104px;left:445px;}
#math_msh1_mq1_31 .designBox {gap:20px;}
#math_msh1_mq1_31 .designBox li:after {content:'';display:block;width:16px;height:20px;background:url('/images/question/math_msh1_mq1_31_arr.png');}
#math_msh1_mq1_31 .designBox li:last-child:after {display:none;}
#math_msh1_mq1_31 .designBox li .qa {display:inline-flex;align-items:center;justify-content:center;min-width:80px;min-height:50px;margin:0 2px;padding:10px 14px;border-radius:4px;border:2px solid var(--c_gray70);}
#math_msh1_mq1_31 .designBox li .qa.on {color:var(--c_primary);border-color:var(--c_primary);}

#math_msh1_mq1_32.question_wrapper section .q_wrap .imgwrap .shape_sq {width:100px;height:42px;top:-5px;left:160px;}
#math_msh1_mq1_32.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(1) {top:52px;}
#math_msh1_mq1_32.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(3) {left:478px;top:52px;}
#math_msh1_mq1_32.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(4) {left:478px;}
#math_msh1_mq1_32.question_wrapper section .wrap {gap:32px;}







