@charset "UTF-8";

/* qB 단답형 공통 css*/
#math_msh1_mq1_8.question_wrapper section input[type="text"],
#math_msh1_dq1_11.question_wrapper section input[type="text"],
#math_msh1_dq1_12.question_wrapper section input[type="text"],
#math_msh1_mq1_25.question_wrapper section input[type="text"],
#math_msh1_dq1_35.question_wrapper section input[type="text"],
#math_msh1_mq3_1.question_wrapper section input[type="text"] {position:absolute;top:0;width:100px;height:42px;}

/* qD 선택형 공통 css */
#math_msh1_mq1_13.question_wrapper section .designSelect,
#math_msh1_mq1_14.question_wrapper section .designSelect,
#math_msh1_dq1_15.question_wrapper section .designSelect,
#math_msh1_dq1_17.question_wrapper section .designSelect {position:absolute;top:0;}





/* 문항별 스타일 */
#math_msh1_mq1_8.question_wrapper section .qa {left:40px;}
#math_msh1_mq1_8.question_wrapper section .qa:nth-of-type(2) {left:230px;}
#math_msh1_mq1_8.question_wrapper section .qa:nth-of-type(3) {left:400px;}

#math_msh1_dq1_11.question_wrapper section .qa {left:34px;}
#math_msh1_dq1_11.question_wrapper section .qa:nth-of-type(2) {left:250px;}

#math_msh1_dq1_12.question_wrapper section .qa {left:26px;}
#math_msh1_dq1_12.question_wrapper section .qa:nth-of-type(2) {left:163px;}
#math_msh1_dq1_12.question_wrapper section .qa:nth-of-type(3) {left:320px;}
#math_msh1_dq1_12.question_wrapper section .qa:nth-of-type(4) {left:460px;}

#math_msh1_dq1_23.question_wrapper section .a_wrap {gap:10px;}

#math_msh1_mq1_25.question_wrapper section input[type="text"] {top:-10px}
#math_msh1_mq1_25.question_wrapper section .qa {left:175px;}
#math_msh1_mq1_25.question_wrapper section .qa:nth-of-type(2) {left:175px; top:52px !important}
#math_msh1_mq1_25.question_wrapper section .qa:nth-of-type(3) {left:330px;}
#math_msh1_mq1_25.question_wrapper section .qa:nth-of-type(4) {left:330px; top:52px !important}

#math_msh1_dq1_35.question_wrapper section input[type="text"] {top:-10px}
#math_msh1_dq1_35.question_wrapper section .qa {left:88px;}
#math_msh1_dq1_35.question_wrapper section .qa:nth-of-type(2) {left:88px; top:44px !important}
#math_msh1_dq1_35.question_wrapper section .qa:nth-of-type(3) {left:335px;}
#math_msh1_dq1_35.question_wrapper section .qa:nth-of-type(4) {left:335px; top:44px !important}

#math_msh1_mq3_1.question_wrapper section .q_wrap .imgwrap {flex-wrap:wrap;}
#math_msh1_mq3_1.question_wrapper section .q_wrap .imgwrap > img {margin-left: 45px;mix-blend-mode: initial;}
#math_msh1_mq3_1.question_wrapper section .q_wrap .imgwrap .designRadio {padding:0 20px 20px 51px;gap:26px;}
#math_msh1_mq3_1.question_wrapper section .q_wrap .imgwrap .designRadio > li::before {display:none;}
#math_msh1_mq3_1.question_wrapper section input[type="text"] {top:106px}
#math_msh1_mq3_1.question_wrapper section .qa {left:314px;}
#math_msh1_mq3_1.question_wrapper section .qa:nth-of-type(2) {left:419px;}
#math_msh1_mq3_1.question_wrapper section .qa:nth-of-type(3) {left:526px;}

#math_msh1_dq3_3.question_wrapper section .a_wrap {gap:10px;}

#math_msh1_dq3_4.question_wrapper section .q_wrap .imgwrap > img {mix-blend-mode: initial;}

#math_msh1_mq1_13.question_wrapper section .designSelect {width:120px;}
#math_msh1_mq1_13.question_wrapper section .designSelect.qa {left:162px;top:18px;}
#math_msh1_mq1_13.question_wrapper section .designSelect.qa:nth-of-type(2) {left:314px;top:58px;}
#math_msh1_mq1_13.question_wrapper section .designSelect.qa:nth-of-type(3) {left:314px;top:-14px;}

#math_msh1_mq1_14.question_wrapper section .designSelect {width:120px;}
#math_msh1_mq1_14.question_wrapper section .designSelect.qa {left:175px;top:18px;}
#math_msh1_mq1_14.question_wrapper section .designSelect.qa:nth-of-type(2) {left:314px;top:58px;}
#math_msh1_mq1_14.question_wrapper section .designSelect.qa:nth-of-type(3) {left:314px;top:-14px;}

#math_msh1_dq1_15.question_wrapper section .designSelect {width:120px;}
#math_msh1_dq1_15.question_wrapper section .designSelect.qa {left:162px;top:18px;}
#math_msh1_dq1_15.question_wrapper section .designSelect.qa:nth-of-type(2) {left:314px;top:58px;}
#math_msh1_dq1_15.question_wrapper section .designSelect.qa:nth-of-type(3) {left:314px;top:-14px;}

#math_msh1_dq1_17.question_wrapper section .designSelect {width:120px;}
#math_msh1_dq1_17.question_wrapper section .designSelect.qa {left:162px;top:18px;}
#math_msh1_dq1_17.question_wrapper section .designSelect.qa:nth-of-type(2) {left:314px;top:58px;}
#math_msh1_dq1_17.question_wrapper section .designSelect.qa:nth-of-type(3) {left:314px;top:-14px;}

#math_msh1_mq4_1.question_wrapper section .a_wrap {gap:16px;}
#math_msh1_mq4_1.question_wrapper section .a_wrap .imgwrap > span {width:100px;}

#math_msh1_dq4_6.question_wrapper input[type="text"],
#math_msh1_dq4_10.question_wrapper input[type="text"]  {width:120px;}

#math_msh1_dq4_5.question_wrapper section .q_wrap .imgwrap .shape_sq {position:relative;top:12px;width:80px;height:38px;}
#math_msh1_dq4_5.question_wrapper section .wrap {gap:20px;}

#math_msh1_dq4_3.question_wrapper section .wrap {gap:32px}

#math_msh1_dq4_9.question_wrapper section .q_wrap .imgwrap {flex-direction:column;}
#math_msh1_dq4_9.question_wrapper section .q_wrap .imgwrap > div {display:flex;gap:235px;}
#math_msh1_dq4_9.question_wrapper section .q_wrap .imgwrap > div .shape_sq {position: relative;width:120px;height:42px;}
#math_msh1_dq4_9.question_wrapper section .a_wrap {row-gap:22px;}
#math_msh1_dq4_9 .designBox li em {padding:6px 12px 8px;}

#math_msh1_dq4_11.question_wrapper section .q_wrap {gap:22px;}
#math_msh1_dq4_11.question_wrapper section .q_wrap .imgwrap {min-width:470px;}
#math_msh1_dq4_11.question_wrapper section .q_wrap .imgwrap .shape_sq {position:relative;width: 100px;height: 40px;}

#math_msh1_dq4_12.question_wrapper section .q_wrap .imgwrap {flex-direction:column;}
#math_msh1_dq4_12.question_wrapper section .q_wrap .imgwrap > div {display:flex;gap:180px;}
#math_msh1_dq4_12.question_wrapper section .q_wrap .imgwrap > div .shape_sq {position: relative;width:120px;height:42px;}
#math_msh1_dq4_12.question_wrapper section .a_wrap {row-gap:22px;}
#math_msh1_dq4_12 .designBox li em {padding:6px 12px 8px;}

#math_msh1_dq4_13.question_wrapper section .q_wrap .imgwrap {flex-direction:column;}
#math_msh1_dq4_13.question_wrapper section .q_wrap .imgwrap > div .shape_sq {width:120px;height:42px;top: 30px;left: 100px;}
#math_msh1_dq4_13.question_wrapper section .a_wrap {row-gap:22px;}
#math_msh1_dq4_13 .designBox li em {padding:6px 12px 8px;}