@charset "UTF-8";

#math_msh2_mq1_2 .question_wrapper section .wrap{padding:80px 50px;}

#math_msh2_dq1_4 .list_ol > li::before{display: none;}
#math_msh2_dq1_4.question_wrapper section .q_wrap ol{flex-direction:row;width:100%;}
#math_msh2_dq1_4.question_wrapper section .q_wrap ol li{display:flex;flex-direction:column;flex-grow:1;gap:20px;align-items:center;width:33.3%;text-align:center;line-height:1.4}
#math_msh2_dq1_4.question_wrapper section .q_wrap ol li .shape_sq{position:relative;width:100%;min-height:200px;height:calc(100% - 112px);border-style:dashed;border-color:var(--c_gray40);background:#fff}
#math_msh2_dq1_4.question_wrapper section .q_wrap ol li .shape_sq::before{content:'';position:absolute;left:50%;bottom:-20px;transform:translateX(-50%);display:block;width:102px;height:50px;background:url(/images/question/math_msh2_mq4_8_bg.png) no-repeat}
#math_msh2_dq1_4.question_wrapper section .a_wrap{gap:15px;}

#math_msh2_dq1_6.question_wrapper section .q_wrap .imgwrap .shape_sq{left:70px;top:5px;width:40px}
#math_msh2_dq1_6.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(1){left:16px;top:-2px;width:25px;height:25px;}

#math_msh2_mq1_7.question_wrapper section .q_wrap .imgwrap .shape_sq{left:226px;top:5px;width:40px}
#math_msh2_mq1_7.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(2){left:226px;top:40px;width:40px;}
#math_msh2_mq1_7.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(3){left:155px;top:96px;width:40px;}
#math_msh2_mq1_7.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(4){left:223px;top:96px;width:40px;}
#math_msh2_mq1_7.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(5){left:302px;top:96px;width:40px;}
#math_msh2_mq1_7 .designBox li em{height:55px;}

#math_msh2_dq1_9.question_wrapper section .q_wrap .imgwrap .shape_sq{left:139px;top:2px;width:40px}
#math_msh2_dq1_9.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(2){left:139px;top:40px;width:40px;}
#math_msh2_dq1_9.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(3){left:250px;top:82px;width:40px;}
#math_msh2_dq1_9.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(4){left:240px;top:139px;width:40px;}
#math_msh2_dq1_9.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(5){left:330px;top:139px;width:40px;}

#math_msh2_dq1_11.question_wrapper section .q_wrap .imgwrap .shape_sq{left:52px;top:56px;width:40px}
#math_msh2_dq1_11.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(2){left:112px;top:99px;width:40px;}
#math_msh2_dq1_11.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(3){left:211px;top:135px;width:25px;height:25px;}
#math_msh2_dq1_11.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(4){left:274px;top:141px;width:40px;}

#math_msh2_mq1_8 .a_wrap {gap:30px;}

#math_msh2_dq1_16 .list_ol > li::before{display: none;}
#math_msh2_dq1_16.question_wrapper section .q_wrap ol{flex-direction:row;width:100%;}
#math_msh2_dq1_16.question_wrapper section .q_wrap ol li{display:flex;flex-direction:column;flex-grow:1;gap:20px;align-items:center;width:33.3%;text-align:center;line-height:1.4}
#math_msh2_dq1_16.question_wrapper section .q_wrap ol li .shape_sq{position:relative;width:100%;min-height:200px;height:calc(100% - 112px);border-style:dashed;border-color:var(--c_gray40);background:#fff}
#math_msh2_dq1_16.question_wrapper section .q_wrap ol li .shape_sq::before{content:'';position:absolute;left:50%;bottom:-20px;transform:translateX(-50%);display:block;width:102px;height:50px;background:url(/images/question/math_msh2_mq4_8_bg.png) no-repeat}
#math_msh2_dq1_16.question_wrapper section .a_wrap{gap:15px;}
#math_msh2_dq1_16 .designBox li em{height:65px;}