@charset "UTF-8";

#math_msh2_dq1_4 .list_ol > li::before{display: none;}
#math_msh2_dq1_4.question_wrapper section .q_wrap ol{flex-direction:row;width:100%;}
#math_msh2_dq1_4.question_wrapper section .q_wrap ol li{display:flex;flex-direction:column;flex-grow:1;gap:20px;align-items:center;width:33.3%;text-align:center;line-height:1.4}
#math_msh2_dq1_4.question_wrapper section .q_wrap ol li .shape_sq{position:relative;width:100%;min-height:200px;height:calc(100% - 112px);border-style:dashed;border-color:var(--c_gray40);background:#fff}
#math_msh2_dq1_4.question_wrapper section .q_wrap ol li .shape_sq::before{content:'';position:absolute;left:50%;bottom:-20px;transform:translateX(-50%);display:block;width:102px;height:50px;background:url(/images/question/math_msh2_mq4_8_bg.png) no-repeat}
#math_msh2_dq1_4.question_wrapper section .a_wrap{gap:15px;}

#math_msh2_dq1_5.question_wrapper section .q_wrap .imgwrap .shape_sq:nth-of-type(1){left:36px;top:30px;width:40px}
#math_msh2_dq1_5.question_wrapper section .q_wrap .imgwrap .shape_sq{left:116px;top:100px;width:40px}
#math_msh2_dq1_5.question_wrapper section .a_wrap input[type="text"]{width:122px}